.container{
    display: flex;
    justify-content: center;
}
.mobile__notes__content__body{
    background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   width: 85vw;
   border-radius: 5px;
   padding: 10px;
}

.mobile__notes__content__date__time__details{
    display: flex;
    justify-content: space-between;
   
   & .time{
        display: flex;
        align-items: center;
    }
}

.mobile__notes__content__date, .mobile__notes__content__time{
    font-size: 2vh;
    font-weight: 600;
    margin-left: 2vh;
}

.mobile__notes__content__details{
    min-height: 10vh;
    height: auto;
    width: 55vw;
    text-align: left;
}